yt-dlp
ffmpeg-python
PyYAML
nemo_toolkit[asr]>=2.4.0
tqdm
numpy>=2.0,<2.2

# PyTorch with CUDA support
--index-url https://download.pytorch.org/whl/cu124
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
